@import url('fonts.css');
@import url('core.css');
@import url('blocks/menu.css');
@import url('blocks/header.css');

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    align-content: center;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-advantage{
    text-align: center;
}

.section-advantage section{
    padding: 20px;
}

.section-advantage h2 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.section-auto {
    background: url("/img/auto.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    min-height: 500px;
    max-height: 500px;
    position: relative;
}

.section-auto-inner {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
}

.section-auto-inner .container {
    margin: auto;
}

.section__auto--banner {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.6;
    color: var(--light);
    text-align: center;
}

.section-plan {
    text-align: center;
}

.section-plan section {
    padding: 20px;
}

.section-plan h2 { 
    margin-bottom: 15px;
    text-align: center; 
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.section-plan h3 {
    text-transform: uppercase;
}

.section-plan p {
    text-align: left;
}


.section-contact {
    background-color: var(--primary);
    color: white;
    text-align: center;
}

.section-contact .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.section-contact h2 { 
    padding-bottom: 20px; 
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.section-contact ul {
    list-style-type: none;
}

.section-contact i { padding-right: 10px; }

.section-contact__link {
    display: block;
    font-size: 1.1rem;
    padding: .1rem;
}

.site-footer {
    background-color: var(--dark);
}

.site-footer__element {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--light);
    text-align: center;
    font-size: 0.9rem;
}

@media screen and (max-width: 992px){
    .row {   
        grid-template-columns: 1fr 1fr;
    }

    .home-row {
        padding-left: 10px;
        padding-right: 10px;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px){
    .home h1 {
        padding-top: 1rem;
    }
    
    .row {   
        grid-template-columns: 1fr;
    }

    .section__auto--banner {
        font-size: 1.5rem;
    }
}
