
.menu {
    border-bottom: var(--primary) 3px solid;
    background-color: var(--dark);
    padding: 16px;
    opacity: 0.7; 
    position: fixed;
    width: 100%;
}

.menu .container {
    display: grid;
    grid-template-columns: 2fr auto auto auto auto 2fr;
    grid-column-gap: 16px;
    justify-content: space-between;
}

.menu__item--logo,
.menu__item--link,
.menu__item--phone {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    text-decoration: none;
    display: block;
    color: var(--secondary);
}

.menu__item--logo,
.menu__item--phone,
.menu__item--link:hover {
    color: var(--light);
}

.menu__item--phone {
    justify-self: end;
}

@media all and (max-width: 1000px) {
    .menu .container {
        grid-template-columns: auto auto;
        justify-content: space-between;
    }
    .menu__item--link {
        display: none;
    }
}

@media all and (max-width: 400px) {
    .menu .container {
        grid-template-columns: auto;
        justify-content: center;
    }
}
